*{padding: 0;margin:0;}
.margin{width:1210px;margin:0 auto;}
header{height:30px;font:12px/30px "";background: #f1f1f1;}
header ul li{float:left;margin:0 5px;}
header ul li a{display: block;font:12px/30px "";font-weight: normal;}
header ul li.f1{margin:0px 310px 0 8px;}
header ul li a.f2{color: #cf1623;}
header ul li a:hover{color: darkred;}




a:hover{color: darkred;}
#center .left{width: 180px;border:1px solid #ccc;height: auto;text-align: center;float: left;margin-right:10px ;box-sizing: border-box;}
#center .left img{margin-top:20px;}
#center .left p{font:12px/25px "";}
#center .left .price{color:red;font:12px/30px "";}
#center #right {float: right;height: auto;width: 1000px;box-sizing: border-box;}
#center #right .t1{width:1000px;height:60px;margin-left: 10px;margin-bottom:10px;border: 1px solid #ccc;;}
#center .right {float:left;width: 1000px;height: auto;box-sizing: border-box;}
#center .right li{width: 241px;height:476px;float: left;margin:4px;box-sizing: border-box;cursor: pointer;border: 1px solid #fff;}
#center .right li:hover{border-color:#ccc;box-shadow: 0 0 1px #ccc;box-sizing: border-box;}
#center .right img{margin-top:20px;text-align: center;}
#center .right .price{color:red;font:18px/40px "";}
#center .right p{font:12px/30px "";margin-left:10px ;}
#center .right a:hover{color: #F10215;}
#center .right .bx{color:red;}
#center .right .p{color:#646fb0;}
#center .right .k{width:20px;height:20px;border-radius: 4px;background:red ;color:#fff;font:12px/20px "";text-align:center;margin-left:10px ;}
#center .right .k:hover{color: #fff;}
#center .right dl dd{float:left;border:1px solid red;padding: 4px;}
#center .right dl dd:nth-of-type(3){color: red;}
#center .right dl dd:hover{color:red;border:1px solid red;}
 dl{margin:10px 0 0 10px;}
#center{position: relative;}
#center .left li:nth-of-type(1){margin-top:30px ;}
#center .ad{position: absolute;top:10px;left:180px;color: #ccc;font:12px/30px "";}
#center .ad-1{position: absolute;top:10px;left:40;color: #000000;font-weight: 600;font:18px/30px "";}



#button{margin:36px 0 50px 0;height:44px;}
#button .ul-l{float:left;margin-left:400px;margin-right: 20px;}
#button .ul-l li{float: left;margin:0 5px;background: #f7f7f7;font:100 12px/20px "";border: 1px solid #666;padding:5px 10px;}
#button .ul-l li a{display: block;}
#button .ul-r span{font:100 12px/20px "";margin:0 10px;display: block;float: left;}
#button .ul-r .sure-l,#button .ul-r .sure-r{font:100 12px/20px "";border: 1px solid #666;padding:5px 10px;display: block;float: left;background: #f7f7f7;}
#button .ul-r .sure-l{width:20px;height: 20px;}

#button .ul-r{float: left;font:100 12px/20px "";text-align: center;}


#huan{width:1210px;height:342px;position:relative;border: 1px solid #ccc;}
#huan .ad-1{position: absolute;left: 0;top: 0;font:400 18px/30px "";color: #000;}
#huan .ad{position: absolute;right: 0;top: 0;font:14px/20px "";color: #ccc;}
#huan ul {margin-top: 30px;}
#huan ul li{float:left;margin:20px;font:14px/20px "";color:#ccc;}
#huan ul li img{text-align: center;margin:10px 0;}
#huan ul li p{margin-left: 10px;}
#huan ul li .price{color:red;}


#search{height:113px;border:1px solid #ccc;font:12px/30px "";margin-top:10px;margin-bottom:10px ;}
#search .pp ,#search div{margin-left: 35px;}
#search .pp a{color:#559acf;font:12px/30px "";}
#search .pp span a{}
#search div .txt{width: 411px;height:35px;margin: 0 10px;}
#search div .btn{width: 50px;height:37px;background:red;color:#fff;border: 0;text-align:center;margin:0 10px;}


#huan-1{width:1210px;height:342px;position:relative;border: 1px solid #ccc;}
#huan-1 .h-ad-1{position: absolute;left: 0;top: 0;font:400 18px/30px "";color: #000;}
#huan-1 .h-ad{position: absolute;right: 0;top: 0;font:14px/20px "";color: #ccc;}
#huan-1 ul.h {margin-top: 30px;}
#huan-1 ul.h li{float:left;margin:20px 30px;font:14px/20px "";color:#ccc;}
#huan-1 ul.h li img{text-align: center;margin:10px 0;}
#huan-1 ul.h li p{margin-left: 10px;}
#huan-1 ul.h li .price{color:red;}

#tu{margin-top:10px;margin-bottom:10px;}
#tu-2{background: #f6f6f6;cursor: pointer;}
footer{background: #fff;cursor: pointer;}





